=========================== sprite =======================================*/

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-2_stars {
    width: 42px;
    height: 17px;
    background-position: -15px -15px;
}

.sprite-3_stars {
    width: 65px;
    height: 17px;
    background-position: -15px -62px;
}

.sprite-4_stars {
    width: 89px;
    height: 17px;
    background-position: -15px -109px;
}

.sprite-balack_arrow_up {
    width: 11px;
    height: 10px;
    background-position: -15px -156px;
}

.sprite-balck_arrow_down {
    width: 11px;
    height: 10px;
    background-position: -15px -196px;
}

.sprite-blue_arrow_down {
    width: 11px;
    height: 10px;
    background-position: -15px -236px;
}

.sprite-blue_arrow_up {
    width: 11px;
    height: 10px;
    background-position: -15px -276px;
}

.sprite-check_active {
    width: 26px;
    height: 22px;
    background-position: -15px -316px;
}

.sprite-check_white {
    width: 26px;
    height: 22px;
    background-position: -15px -368px;
}

.sprite-day {
    width: 21px;
    height: 22px;
    background-position: -15px -420px;
}

.sprite-day_black {
    width: 21px;
    height: 22px;
    background-position: -15px -472px;
}

.sprite-day_blue {
    width: 21px;
    height: 22px;
    background-position: -15px -524px;
}

.sprite-fb {
    width: 10px;
    height: 19px;
    background-position: -15px -576px;
}

.sprite-fb_dark {
    width: 10px;
    height: 19px;
    background-position: -15px -625px;
}

.sprite-gamburger {
    width: 74px;
    height: 70px;
    background-position: -15px -674px;
}

.sprite-gift {
    width: 64px;
    height: 76px;
    background-position: -15px -774px;
}

.sprite-grey_arrow_down {
    width: 11px;
    height: 10px;
    background-position: -15px -880px;
}

.sprite-grey_arrow_up {
    width: 11px;
    height: 10px;
    background-position: -15px -920px;
}

.sprite-house {
    width: 75px;
    height: 72px;
    background-position: -15px -960px;
}

.sprite-htmlacademy {
    width: 113px;
    height: 39px;
    background-position: -15px -1062px;
}

.sprite-htmlacademy_blue {
    width: 113px;
    height: 39px;
    background-position: -15px -1131px;
}

.sprite-htmlacademy_grey {
    width: 113px;
    height: 39px;
    background-position: -15px -1200px;
}

.sprite-minus_black {
    width: 12px;
    height: 3px;
    background-position: -15px -1269px;
}

.sprite-minus_blue {
    width: 12px;
    height: 3px;
    background-position: -15px -1302px;
}

.sprite-minus_grey {
    width: 12px;
    height: 3px;
    background-position: -15px -1335px;
}

.sprite-not_checked {
    width: 22px;
    height: 22px;
    background-position: -15px -1368px;
}

.sprite-not_checked_active {
    width: 22px;
    height: 22px;
    background-position: -15px -1420px;
}

.sprite-plus_black {
    width: 11px;
    height: 11px;
    background-position: -15px -1472px;
}

.sprite-plus_blue {
    width: 11px;
    height: 11px;
    background-position: -15px -1513px;
}

.sprite-plus_grey {
    width: 11px;
    height: 11px;
    background-position: -15px -1554px;
}

.sprite-twitter {
    width: 17px;
    height: 15px;
    background-position: -15px -1595px;
}

.sprite-twitter_dark {
    width: 17px;
    height: 15px;
    background-position: -15px -1640px;
}

.sprite-youtube {
    width: 20px;
    height: 16px;
    background-position: -15px -1685px;
}

.sprite-youtube_dark {
    width: 20px;
    height: 16px;
    background-position: -15px -1731px;
}

/*========================= end sprite =========================================*/

* {
    outline: 1px solid red;
}

.container {
    font-family: 'PT Sans', Arial, sans-serif;
    color: #000000;
}

.row {
    margin: 0 auto;
}

header.row {
    background: #ffffff url('../img/logo.png') no-repeat center top;
    padding-top: 15px;
    padding-bottom: 30px;
}

header.row ul {
    font-size: 0;
    margin: 0;
    padding: 0;
}

header.row li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    text-align: center;
}

header.row a {
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

nav.col-lg-12 {
    padding: 0;
}

.title-background {
    height: 515px;
    width: 100%;
    margin-top: -15px;
    margin-bottom: 50px;
    padding: 0;
    background: url(../img/main_bg/welcome.png) no-repeat center 80px,
                url(../img/main_bg/georgeous.png) no-repeat center 135px,
                url(../img/main_bg/sedona.png) no-repeat center 220px,
                url(../img/main_bg/because.png) no-repeat center 350px,
                url(../img/main_bg/lines.png) no-repeat center 150px,
                url(../img/main_bg/logo_part.png) no-repeat top center,
                url(../img/main_bg/poloska.png) no-repeat center bottom,
                url(../img/main_bg/bg.jpg) 50% 20% no-repeat;
}

.slogan {
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.slogan h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 25px;
}

.slogan span {
    font-size: 14px;
    line-height: 26px;
    font-weight: 100;
}

.feature-one {
    padding: 0;
    padding-top: 50px;
    color: #ffffff;
    background-color: #81b3d2;
    height: 255px;
    text-align: center;
    text-transform: uppercase;
}

.feature-one h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    width: 150px;
    margin: 0 auto 25px auto;
}

.feature-one span {
    position: relative;
}

.feature-one span::before {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 1px;
    background-color: #ffffff;
    right: 25px;
    top: 50%;
}

.feature-one span::after {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 1px;
    background-color: #ffffff;
    left: 25px;
    top: 50%;
}

.feature-one p {
    width: 285px;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 100;
}

.feature-one-pic {
    padding: 0;
}

.feature-one-pic img {
    width: 100%;
}

.trick {
    padding: 0;
    text-align: center;
}

.trick-first h2::before {
    content: '';
    display: block;
    background: url(../img/spritesheet.png);
    width: 75px;
    height: 72px;
    background-position: -15px -960px;
    margin: 0 auto;
}

.trick-second h2::before {
    content: '';
    display: block;
    background: url(../img/spritesheet.png);
    width: 74px;
    height: 70px;
    background-position: -15px -674px;
    margin: 0 auto;
}

.trick-third h2::before {
    content: '';
    display: block;
    background: url(../img/spritesheet.png);
    width: 64px;
    height: 76px;
    background-position: -15px -774px;
    margin: 0 auto;
}

.sprite-gift {
    width: 64px;
    height: 76px;
    background-position: -15px -774px;
}

