=========================== sprite =======================================*/

/*.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-2_stars {
    width: 42px;
    height: 17px;
    background-position: -15px -15px;
}

.sprite-3_stars {
    width: 65px;
    height: 17px;
    background-position: -15px -62px;
}

.sprite-4_stars {
    width: 89px;
    height: 17px;
    background-position: -15px -109px;
}

.sprite-balack_arrow_up {
    width: 11px;
    height: 10px;
    background-position: -15px -156px;
}

.sprite-balck_arrow_down {
    width: 11px;
    height: 10px;
    background-position: -15px -196px;
}

.sprite-blue_arrow_down {
    width: 11px;
    height: 10px;
    background-position: -15px -236px;
}

.sprite-blue_arrow_up {
    width: 11px;
    height: 10px;
    background-position: -15px -276px;
}

.sprite-check_active {
    width: 26px;
    height: 22px;
    background-position: -15px -316px;
}

.sprite-check_white {
    width: 26px;
    height: 22px;
    background-position: -15px -368px;
}

.sprite-day {
    width: 21px;
    height: 22px;
    background-position: -15px -420px;
}

.sprite-day_black {
    width: 21px;
    height: 22px;
    background-position: -15px -472px;
}

.sprite-day_blue {
    width: 21px;
    height: 22px;
    background-position: -15px -524px;
}

.sprite-fb {
    width: 10px;
    height: 19px;
    background-position: -15px -576px;
}

.sprite-fb_dark {
    width: 10px;
    height: 19px;
    background-position: -15px -625px;
}

.sprite-gamburger {
    width: 74px;
    height: 70px;
    background-position: -15px -674px;
}

.sprite-gift {
    width: 64px;
    height: 76px;
    background-position: -15px -774px;
}

.sprite-grey_arrow_down {
    width: 11px;
    height: 10px;
    background-position: -15px -880px;
}

.sprite-grey_arrow_up {
    width: 11px;
    height: 10px;
    background-position: -15px -920px;
}

.sprite-house {
    width: 75px;
    height: 72px;
    background-position: -15px -960px;
}

.sprite-htmlacademy {
    width: 113px;
    height: 39px;
    background-position: -15px -1062px;
}

.sprite-htmlacademy_blue {
    width: 113px;
    height: 39px;
    background-position: -15px -1131px;
}

.sprite-htmlacademy_grey {
    width: 113px;
    height: 39px;
    background-position: -15px -1200px;
}

.sprite-minus_black {
    width: 12px;
    height: 3px;
    background-position: -15px -1269px;
}

.sprite-minus_blue {
    width: 12px;
    height: 3px;
    background-position: -15px -1302px;
}

.sprite-minus_grey {
    width: 12px;
    height: 3px;
    background-position: -15px -1335px;
}

.sprite-not_checked {
    width: 22px;
    height: 22px;
    background-position: -15px -1368px;
}

.sprite-not_checked_active {
    width: 22px;
    height: 22px;
    background-position: -15px -1420px;
}

.sprite-plus_black {
    width: 11px;
    height: 11px;
    background-position: -15px -1472px;
}

.sprite-plus_blue {
    width: 11px;
    height: 11px;
    background-position: -15px -1513px;
}

.sprite-plus_grey {
    width: 11px;
    height: 11px;
    background-position: -15px -1554px;
}

.sprite-twitter {
    width: 17px;
    height: 15px;
    background-position: -15px -1595px;
}

.sprite-twitter_dark {
    width: 17px;
    height: 15px;
    background-position: -15px -1640px;
}

.sprite-youtube {
    width: 20px;
    height: 16px;
    background-position: -15px -1685px;
}

.sprite-youtube_dark {
    width: 20px;
    height: 16px;
    background-position: -15px -1731px;
}*/

/*========================= end sprite =========================================*/

body.container {
    font-family: 'PT Sans', Arial, sans-serif;
    color: #000000;
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin: 0 auto;
}

header.row {
    padding-top: 15px;
    padding-bottom: 30px;
}

header.row ul {
    font-size: 0;
    margin: 0;
    padding: 0;
}

header.row li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    text-align: center;
}

header.row a {
    font-size: 14px;
    line-height: 26px;
    font-family: 'PT Sans', Arial, sans-serif;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

header .logo-container {
    position: relative;
    font-size: 18px;
}

.logo {
    position: absolute;
    left: 15%;
    top: -15px;
    z-index: 99;
}

.col-md-12 {
    padding: 0;
}

.title-background {
    height: 515px;
    width: 100%;
    margin-top: -15px;
    margin-bottom: 50px;
    padding: 0;
    background: url(../img/main_bg/letters.png) center center no-repeat,
                url(../img/main_bg/poloska.png) center bottom no-repeat,
                url(../img/main_bg/bg.jpg) 50% 20% no-repeat;
}

.slogan {
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.slogan h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 25px;
}

.slogan span {
    font-size: 14px;
    line-height: 26px;
    font-weight: 100;
}

.feature-one,
.feature-two {
    padding: 0;
    padding-top: 50px;
    /*padding-bottom: 50px;*/
    color: #ffffff;
    background-color: #81b3d2;
    height: 255px;
    text-align: center;
    text-transform: uppercase;
}

.feature-one h2,
.feature-two h2,
.feature h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    width: 200px;
    margin: 0 auto 25px auto;
}

.feature-one span,
.feature-two span,
.feature span {
    position: relative;
}

.feature-one span::before,
.feature-two span::before,
.feature span::before {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 1px;
    background-color: #ffffff;
    right: 25px;
    top: 50%;
}

.feature-one span::after,
.feature-two span::after,
.feature span::after {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 1px;
    background-color: #ffffff;
    left: 25px;
    top: 50%;
}

.feature-one p,
.feature-two p,
.feature p {
    width: 280px;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 100;
    text-align: center;
}

.feature-one-pic {
    padding: 0;
}

.feature-one-pic img {
    width: 100%;
}

.trick {
    padding: 0;
    padding-top: 60px;
    padding-bottom: 65px;
    text-align: center;
}

.trick h2 {
    font-weight: bold;
    line-height: 21px;
    font-size: 21px;
    text-transform: uppercase;
}

.trick p {
    width: 160px;
    font-size: 13px;
    line-height: 21px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 20px auto 0 auto;
}

.trick-first h2::before {
    content: '';
    display: block;
    background: url(../img/spritesheet.png);
    width: 75px;
    height: 72px;
    background-position: -15px -960px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.trick-second h2::before {
    content: '';
    display: block;
    background: url(../img/spritesheet.png);
    width: 74px;
    height: 70px;
    background-position: -15px -674px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.trick-third h2::before {
    content: '';
    display: block;
    background: url(../img/spritesheet.png);
    width: 64px;
    height: 76px;
    background-position: -15px -774px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.feature-two-pic {
    padding: 0;
}

.feature-two-pic img {
    width: 100%;
}

.feature {
    padding: 0;
    padding-top: 45px;
    padding-bottom: 60px;
    background-color: #eeeeee;
    text-transform: uppercase;
    text-align: center;
}

.feature h2 {
    font-weight: bold;
    line-height: 21px;
    font-size: 21px;
    width: 150px;
}

.feature span::after,
.feature span::before {
    background-color: #000000;
}

.propose {
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    padding-top: 50px;
}

.propose h2 {
    font-size: 30px;
    line-height: 1.3;
    font-weight: bold;
}

.propose p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 100;
    width: 450px;
    margin: 25px auto 50px auto;
}

.propose a {
    display: block;
    width: 100%;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    background-color: #766357;
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 28px;
    outline: none;
    border: none;
}

.propose a:hover {
    background-color: #604e43;
}

.propose a:active {
    background-color: #503e33;
}

.map {
    padding: 0;
    background: url(../img/map.jpg) no-repeat center top;
    height: 450px;
}

/*=================== footer =====================*/

.footer-left,
.footer-center,
.footer-right {
    padding: 0;
    text-align: center;
}

.footer-left {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-left a {
    font-size: 21px;
    line-height: 26px;
    font-weight: 100;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

.footer-left a:hover {
    color: #81b3d2;
}

.footer-left a:active {
    color: #c2c0c1;
}

.footer-center {
    padding-top: 38px;
    padding-bottom: 40px;
}

.footer-center a {
    font-size: 0;
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
    margin-right: 5px;
    background: #81b3d2 url(../img/spritesheet.png) no-repeat;
}

.footer-center .twitter {
    background-position: 0 -1578px;
}

.footer-center .fb {
    background-position: 3px -563px;
}

.footer-center .fb:active {
    background-position: 3px -612px;
}

.footer-center .youtube {
    background-position: 0 -1668px;
}

.footer-center .youtube:active {
    background-position: 0 -1714px;
}

.footer-center .twitter:hover,
.footer-center .fb:hover,
.footer-center .youtube:hover {
    background-color: #669ec0;
}

.footer-center .twitter:active,
.footer-center .fb:active,
.footer-center .youtube:active {
    background-color: #5496bd;
}

.footer-center .twitter:active {
    background-position: 0 -1623px;
}


.sprite-twitter_dark {
    width: 17px;
    height: 15px;
    background-position: -15px -1640px;
}

.footer-right {
    padding-right: 95px;
    padding-top: 40px;
    padding-bottom: 41px;
    padding-left: 100px;
}

.footer-right span {
    font-size: 14px;
    line-height: 26px;
    font-weight: 100;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
}

.footer-right a {
    font-size: 0;
    display: block;
    float: right;
    width: 120px;
    height: 45px;
    background: #ffffff url(../img/spritesheet.png) no-repeat;
    background-position: -15px -1062px;
}

.footer-right a:hover {
    background-position: -15px -1131px;
}

.footer-right a:active {
    background-position: -15px -1200px;
}

.container-footer {
    width: 215px;
    height: 50px;
    margin: 0 auto;
}

/*========================================*/
/*
* {
    outline: 1px solid red;
}*/

/*====================================*/
/*================ PAGE 2 ============*/

/*.form-area {
    background: url(../img/filler_bg.jpg) no-repeat 80% 17%;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: -15px;
}
*/
.form-area-inner {
    width: 100%;
    height: 218px;
    background: url(../img/filler_bg.jpg) no-repeat 80% 17%;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: -15px;
}

.list-left,
.list-right {
    padding: 0;
    padding-top: 30px;
}

.list-left ul,
.list-right ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-left li,
.list-right li {
    margin-bottom: 23px;
}

.list-left h2,
.list-right h2 {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 25px;
    font-family: 'PT Sans', Arial, sans-serif;
}

.list-left label,
.list-right label {
    font-size: 14px;
    line-height: 21px;
    font-weight: 100;
    margin-bottom: 0;
    font-family: 'PT Sans', Arial, sans-serif;
}

.price-range {
    padding: 0;
    padding-top: 30px;
    padding-right: 85px;
}

.price-range h2 {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 15px;
}

.price-value {
    position: relative;
    width: 316px;
    height: 34px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding-left: 65px;
    padding-top: 4px;
    margin-left: 9px;
}

.price-value input[type="text"] {
    display: inline-block;
    vertical-align: middle;
    width: 65px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 100;
    margin-right: 73px;
    margin-bottom: 8px;
    outline: none;
    border: none;
    background: transparent;
}

.price-value input[type="text"]:last-child {
    margin-right: 0;
}

.price-value::before {
    content: '';
    position: absolute;
    display: block;
    height: 20px;
    width: 2px;
    background-color: #ffffff;
    left: 150px;
    top: 5px;
}

.slider-container {
    width: 306px;
    margin-left: 18px;
    margin-top: 20px;
}

.submit-btn {
    display: block;
    width: 134px;
    height: 34px;
    border: 2px solid #ffffff;
    border-radius: 3px;
    text-transform: uppercase;
    background: transparent;
    margin-top: 32px;
    margin-bottom: 29px;
    margin-right: 50%;
    margin-left: 33%;
    font-family: 'PT Sans', Arial, sans-serif;
}

.list span {
    margin-right: 10px;
}

/*======================= checkboxes =========================*/

.form-area input[type='checkbox'] {
    display: none;
}

input[type='checkbox'] + label span {
    display: block;
    width: 26px;
    height: 22px;
    background: url(../img/checkbox_sprite.png) -15px -67px no-repeat;
    float: left;
}

input[type='checkbox']:checked + label span {
    width: 26px;
    height: 22px;
    background: url(../img/checkbox_sprite.png) -15px -15px no-repeat;
}

/*================ kroshki ===============================*/

.second-navigation {
    border-bottom: 1px solid #e5e5e5;
}

.find {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.find h3 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0;
    font-family: 'PT Sans', Arial, sans-serif;
}

.sort {
    padding: 0;
    padding-top: 35px;
    padding-bottom: 30px;
}

.bread-crumbs {
    padding: 0;
    margin: 0;
    list-style: none;
}

.bread-crumbs li {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 100;
    text-transform: uppercase;
}

.sort-title {
    margin-right: 38px;
}

.bread-crumbs a {
    border-bottom: 1px dotted #81b3d2;
    color: #d9d9d9;
    text-decoration: none;
}

.bread-crumbs a:hover {
    border-bottom: none;
    color: #81b3d2;
}

.arrows {
    padding: 0;
    padding-left: 68px;
    padding-top: 35px;
}

.arrows a {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    margin-right: 10px;
}

.arrows a:last-child {
    margin-right: 0;
}

.arrow-up {
    background: url(../img/spritesheet.png) no-repeat;
    width: 11px;
    height: 10px;
    background-position: -15px -920px;
}

.arrow-down {
    background: url(../img/spritesheet.png) no-repeat;
    width: 11px;
    height: 10px;
    background-position: -15px -236px;
}

/*======================= articles =========================*/

.pict {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.booking {
    padding: 0;
    padding-top: 26px;
    padding-bottom: 30px;
}

.booking h1 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    font-family: 'PT Sans', Arial, sans-serif;
    margin: 0;
}

.booking-price span {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 21px;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'PT Sans', Arial, sans-serif;
    margin-right: 40px;
    margin-top: 9px;
    margin-bottom: 8px;
}

.booking-price span:last-child {
    margin-right: 0;
}

.booking-btn a {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    font-family: 'PT Sans', Arial, sans-serif;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 6px;
    text-decoration: none;
    color: #ffffff;
}

.booking-btn a:last-child {
    margin-right: 0;
}

.btn-information {
    background-color: #81b3d2;
}

.btn-submit {
    background-color: #766357;
}

.raiting {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: right;
}

.stars-value {
     font-size: 0;
     text-align: right;
     margin-bottom: 50px;
}

.stars-value .star {
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 18px;
    background: url(../img/blue_star.png) no-repeat;
    margin-right: 5px;
}

.stars-value .star:last-child {
    margin-right: 0;
}

.raiting span {
    font-size: 14px;
    line-height: 21px;
    font-weight: 100;
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform: uppercase;
    margin-right: 15px;
}